@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f4f8;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 150px;
  font-family: "Open Sans", sans-serif;
}
